body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

header {
    text-align: center;
}

h1 {
    color: #003366;
}

h2 {
    color: #666;
    font-size: 30px;
}

button {
    background-color: #003366;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 5px;
}

button:hover {
    background-color: #004488;     
}

ul {
    margin: 20px 0;
}

li {
    margin-bottom: 15px;
    background-color: #f8f8f8;
    border-radius: 5px;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p strong {
    color: red;
}

#Note {
    background-color: #fff9e6;
    padding: 15px;
    border-radius: 5px;
    border: #ffeb99;
}

.logo {
    position: fixed;
    top: 10px;  
    left: 10px;
    width: 200px;    
}